/* COLORS */
* {
  --avenue-blue: #0095DA;
  --avenue-light-blue: #0baaf3;
  --avenue-white: #FFF;
  --avenue-light-gray: #ccc;
  --avenue-dark-black: #000;
  --avenue-light-black: #333;
  --avenue-light-gray-white: #F8F8F8;
  --avenue-light-border: #AAA;


  --avenue-text-color--2: #919394;
  --avenue-text-color--3: #484c50;
  --avenue-text-color--dark: #000;

  --avenue-input-error : rgb(241, 7, 7);

  --swiper-image-ratio: 33.3%;
  --swiper-width: 50%;
  --swiper-inactive-scale: .85;
  --swiper-mobile-width: 90%;
  --swiper-mobile-inactive-scale: .95;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", Sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

body::selection,
div::selection,
p::selection,
span::selection {
  color: var(--avenue-white);
  background-color: var(--avenue-blue);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: white;
  }
}

body::-webkit-scrollbar {
  background-color: transparent;
  display: none;
  width: 16px
}

body::-webkit-scrollbar-track {
  background-color: transparent
}

body::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4
}

body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4
}

body::-webkit-scrollbar-button {
  display: none
}


.swiper {
  width: 100%;
  height: 60vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--avenue-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  height: .5em;
  width: .5em;
  color: var(--avenue-white);
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  font-size: 2em;
}

.swiper-pagination .swiper-pagination-bullet {
  background: var(--avenue-white);
  box-shadow: 1px 1px 1px var(--avenue-blue);
  opacity: 0.4;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--avenue-blue);
  box-shadow: -2px -2px -2px -2px var(--avenue-white);
  opacity: 1;
}

.clientSwiper.swiper {
  width: 100vh;
  height: 20vh;
}
.gallarySwiper.swiper{
  width: 100vh;
  height: 40vh;
}
.gallarySwiper .swiper-slide{
  margin: 1rem;
  height: auto;
  width: auto;
}

.clientSwiper .swiper-slide img ,
.gallarySwiper .swiper-slide img {
  object-fit: contain;
}

.swiper-3d.swiper .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(23, 151, 193, 0.075), rgba(0, 0, 0, 0))
}

.swiper-3d.swiper .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(23, 151, 193, 0.075), rgba(0, 0, 0, 0))
}


.form-control:focus{
  border-color: var(--avenue-blue);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px var(--avenue-blue) !important;
}
@keyframes rollIn {
  0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; transform: translateX(0px) rotate(0deg); } 
}
@keyframes textOpacity {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
      transform: translateY(-0.8em);
  }
}

.slideText{
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  z-index: 15;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.03px;
  transform: translateY(10em);
}
.swiper-slide-active .slideText{
  animation: textOpacity 3s;
}

.swiper-slide-prev .slideText{
  opacity: 0;
}

.button {
  margin-top: 1.2em;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .swiper-slide-active .button a{
  animation: rollIn 0.5s linear 1.5s;
} */

.button a{
  display: flex;
  min-width: 4em;
  background-color: var(--avenue-blue);
  color: var(--avenue-white);
  font-size: 1em;
  font-weight: normal;
  justify-content: center;
  border-radius: 1.2em;
  padding: 0.3em 0.6em;
  cursor: pointer;
  border-color: transparent;
}

.button a:hover {
  background-color: var(--avenue-light-blue);
}

.modal{
  z-index: 101 !important;
  width: 100vw !important;
  top: 0 !important;
  bottom: 0 !important;
  height: auto !important;
}
.modal-container{
  position: absolute;
  z-index: 103 !important;
  opacity: 1 !important;
}
@keyframes extendBot {
  0% { width: 3rem;}
  100% { width: 40vh;}
}
@keyframes botExtendedText {
  0% { opacity: 0;}
  80% { opacity: 0.6; }
  100% { opacity: 1;}
}
.bot{
  position: fixed;
  right: 3%;
  top: 90%;
  background-color: var(--avenue-blue);
  border: 3px solid var(--avenue-white);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  width: 4rem;
  height: 4rem;
}
.bot-holder__left{
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  background-color: var(--avenue-white);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bot-holder__right{
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0.8rem;
  background-color: var(--avenue-white);
  z-index: 103;
}
.active .bot-holder__right{
  border-radius: 2rem;
}
.bot-text{
  opacity: 0;
}
.bot.active{
  animation: extendBot 1s forwards;
}
.bot.active .bot-holder__left{
  height: 3rem;
  margin: 1rem 1rem;
  opacity: 1;
  width: 80%;
}
.bot.active .bot-text{
  animation: botExtendedText 1s forwards;
}

@media screen and (max-width:480px) {
  .swiper-slide p {
    position: absolute;
    transition: 0.3s ease;
  }

  .swiper .swiper-button-next::after,
  .swiper .swiper-button-prev::after {
    font-size: 1.5em;
  }

  .clientSwiper.swiper {
    height: 10vh;
  }
  .slideText{
    width: 80%;
  }
}