.container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.aboutUs{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--avenue-white);
  width: 100%;
  position: relative;
  height: 40vh;
  flex-direction: column;
  color: var(--avenue-blue);
}
.aboutUsTitle{
  font-size: 2em;
  font-weight: 600;
}
.aboutUsBody{
  display: flex;
  flex-direction: column;
}
.aboutUsBody_description{
  color: #484c50;
  display: flex;
  padding: 0em 21em;
}
.aboutUsBody_description p{
  text-align: center;
}
.aboutUsBody_actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3em;
  column-gap: 1em;
  font-weight: 600;
}
.aboutUsButton{
  padding: 0.6em 2em;
  border-radius: 1.2em;
  color: var(--avenue-white);
  background-color: var(--avenue-blue);
}
.aboutUsButton:hover{
  color: var(--avenue-white);
  background-color: var(--avenue-light-blue);
}

@media screen and (max-width: 480px) {
  .container{
    position: relative;
  }
  .aboutUs{
    padding: 1em 0em;
  }
  .aboutUsBody_description{
    padding: 0em 1em;
  }
  .aboutUsBody_description p{
    line-height: 1.8em;
  }
}
@media (min-width:480px) and (max-width: 1000px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .aboutUsBody_description{
    padding: 0em 5em;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
