.container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2em;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--avenue-white);
  width: 100%;
  position: relative;
  height: 100%;
  flex-direction: column;
  color: var(--avenue-blue);
  row-gap: 1em;
  margin: 2em 0em 1em 0em;
}

.panelTitle {
  font-size: 2.5em;
  font-weight: 600;
}

.panelBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.panelBody_description {
  color: #484c50;
  display: flex;
  padding: 0em 10em;
}

.panelBody_description p {
  text-align: center;
  line-height: 2em;
  font-size: 1.3em;
}

.panelBody_actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3em;
  column-gap: 1em;
  font-weight: 600;
}

.panelButton {
  font-size: 1.5em;
  padding: 0.6em 2em;
  border-radius: 1.2em;
  color: var(--avenue-white);
  background-color: var(--avenue-blue);
}

.panelButton:hover {
  color: var(--avenue-white);
  background-color: var(--avenue-light-blue);
}

.faIcons {
  height: 100%;
  color: var(--avenue-white);
}

.whyUsPanel {
  height: 100%;
  background-color: var(--avenue-light-gray-white);
  padding-top: 2em;
}

.whyUsPanelBody_actions {
  padding: 1em;
  font-size: 100%;
  margin-bottom: 2em;
}

.strip {
  display: flex;
  flex-direction: row;
  position: relative;
  column-gap: 1em;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--avenue-white);
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 0;
  min-height: 1em;
}

.strip p {
  margin: 0;
  height: 100%;
}

.strip span {
  display: flex;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  padding: 0.4em;
  justify-content: center;
  z-index: 2;
  background-color: var(--avenue-light-blue);
}

.strip:hover {
  color: var(--avenue-white);
  background-color: var(--avenue-blue);
}

.strip:hover span {
  background-color: var(--avenue-white);
}

.strip:hover .faIcons {
  color: var(--avenue-blue);
}

.strip:hover p {
  margin-left: 2em;
  transition: margin 0.1s linear 0.1s;
}

.panelBody_actions_animator {
  position: absolute;
  z-index: 1;
}

.strip:hover .panelBody_actions_animator {

  position: absolute;
  transform: scale(3);
  transition: transform 0.5s ease;
}


.panelBody_actions_meet_our_clients_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 100%;
  column-gap: 4em;
  justify-content: center;
  margin-top: 4em;
}

.panelBody_actions_meet_our_clients_contact_us_image {
  width: 30%;
  height: 60%;
  color: var(--avenue-blue);
  transition: transform 0.2s ease-in;
}

.panelBody_actions_meet_our_clients_contact_us_image svg {
  height: 100%;
  width: 100%;
}

.panelBody_actions_meet_our_clients_container:hover .panelBody_actions_meet_our_clients_contact_us_image {
  color: var(--avenue-light-blue);
}

.panelBody_actions_meet_our_clients_contact_us_note {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--avenue-text-color--3);
  line-height: 2em;
}

.panelBody_actions_meet_our_clients_contact_us_title {
  font-size: 1.8em;
  color: var(--avenue-blue);
  padding-bottom: 0.6em;
  border-bottom: 2px solid var(--avenue-light-blue);
}

.panelBody_actions_meet_our_clients_contact_us_description {
  padding-top: 1.2em;
}

.panelBody_actions_meet_our_clients_contact_us_button {
  margin-top: 1.2em;
  width: 100%;
  display: flex;
  justify-content: left;
}

.panelBody_actions_meet_our_clients_contact_us_button div {
  display: flex;
  background-color: var(--avenue-blue);
  color: var(--avenue-white);
  font-size: 1em;
  justify-content: center;
  border-radius: 1.2em;
  padding: 0.3em 1em;
  cursor: pointer;
}

.panelBody_actions_meet_our_clients_contact_us_button div:hover {
  background-color: var(--avenue-light-blue);
}

.workCompleted {
  width: 100%;
  background-color: var(--avenue-white);
  color: var(--avenue-light-blue);
  display: flex;
  flex-direction: row;
  padding: 5em;
}

.workCompleted__1,
.workCompleted__2,
.workCompleted__3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 10em;
  min-height: 3em;
  width: 100%;
  border-right: 1px solid var(--avenue-light-border);
}

.workCompleted__3 {
  border-right: none;
}

.ContactForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  background-color: var(--avenue-light-gray-white);
  column-gap: 1em;
  color: var(--avenue-text-color--3);
}

.contactForm_description {
  display: flex;
  width: 40%;
  flex-direction: column;
  background-color: transparent;
  padding-top: 1em;
}

.contactForm_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em;
  padding-top: 1em;
  border-radius: 1em;
  background-color: var(--avenue-white);
}

.contactForm_description p:first-child {
  font-size: 2.2em;
  color: var(--avenue-light-blue);
  margin-bottom: 1em;
}

.contactForm_description p:last-child {
  font-size: 1.2em;
  width: 100%;
  font-weight: 300;
}

.contactForm_form p:first-child {
  font-size: 2.2em;
  color: var(--avenue-light-blue);
  margin-bottom: 1em;
}

.contactForm_form label {
  color: var(--avenue-text-color--2);
}

.button {
  margin-top: 1.2em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button button {
  display: flex;
  width: 100%;
  background-color: var(--avenue-blue);
  color: var(--avenue-white);
  font-size: 1.3em;
  justify-content: center;
  border-radius: 1.2em;
  padding: 0.3em 1em;
  cursor: pointer;
  border-color: transparent;
}

.button button:hover {
  background-color: var(--avenue-light-blue);
}

.invalid {
  border-color: var(--avenue-blue);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px var(--avenue-input-error) !important;
}

.FooterLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--avenue-blue);
  padding: 1em;
  column-gap: 1em;
  color: var(--avenue-white);
}

.FooterLinks__cell {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 30%;
}

.FooterLinks__cell:first-child {
  width: 20%;
  justify-content: center;
  margin-right: 4em;
}

.FooterLinks__cell:last-child {
  width: 20%;
}

.FooterLinks__cell label {
  margin-bottom: 1em;
  font-size: 1.4em;
}

.FooterLinks__cell a {
  line-height: 1.8em;
}

.FooterLinks__cell p {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.05em;
}

.FooterLinks__cell ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.FooterLinks__cell li {
  margin-bottom: 0.5em;
  cursor: pointer;
}

a.FooterLinks__contactus {
  line-height: 1.5em;
}

.FooterLinks__subcell {
  margin-bottom: 1em;
}

.FooterLinks__subcell:last-child label {
  margin-bottom: 0em;
}

.socials {
  display: flex;
  flex-direction: row;
  column-gap: 0.8em;
  margin-top: 1em;
}

.socials span {
  width: 1.6em;
  cursor: pointer;
}

.solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--avenue-light-gray-white);
}

.solutions label {
  font-size: 2.5em;
  height: 20%;
  color: var(--avenue-blue);
  font-weight: 600;
}

.solutionsGridContainer {
  height: 80%;
  width: 100vw;
  background-color: var(--avenue-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  padding: 2em 0em;
  pointer-events: none;
}

.solutionsGridContainer:last-child {
  margin-top: 0em;
  margin-bottom: 2em;
  padding-top: 0;
}

.gridItem {
  display: flex;
  width: 17em;
  height: 17em;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0em;
  pointer-events: all;
}

.gridItem:hover {
  background-size: 10em 8.5em;
  transition: transform 0.2s ease-out;
  background-position: center;
}
.gridItem span{
  width: 17em !important;
}
.gridItem:hover span{
  transform: scale(0.8);
  transition: transform 0.3s ease-in;
}


.gridItem_5:hover {
  transform: rotateX(60deg);
}

.gmap{
  border: 0;
  height: 20em;
  margin-top: 2em;
}

@media screen and (max-width: 480px) {
  .container {
    position: relative;
  }

  .panel {
    padding: 1em 0em;
  }

  .panelBody_description {
    padding: 0em 5vw;
  }

  .panelBody_description p {
    line-height: 1.8em;
    font-size: 1.15em;
  }

  .panelButton {
    font-size: 1.2em;
  }

  .whyUsPanel {
    height: 100%;
  }

  .whyUsPanelBody_actions {
    flex-direction: column;
    row-gap: 1em;
    height: 100%;
    margin-bottom: 0;
    padding-top: 0em;
  }

  .strip {
    flex-direction: column;
    width: 90%;
  }

  .strip:hover .panelBody_actions_animator {
    position: absolute;
    transform: scale(1);
    transition: none;
  }

  .strip:hover p {
    margin-left: 0em;
  }

  .panelBody_actions_meet_our_clients_container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 3em;
  }

  .panelBody_actions_meet_our_clients_contact_us_image {
    height: 40%;
  }

  .panelBody_actions_meet_our_clients_contact_us_note {
    padding: 0em 2em;
    justify-content: center;
    width: 100%;
  }

  .panelBody_actions_meet_our_clients_contact_us_button {
    justify-content: center;
  }

  .panelBody_actions_meet_our_clients_contact_us_button div {
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .panelBody_actions_meet_our_clients_contact_us_title {
    text-align: center;
  }

  .panelBody_actions_meet_our_clients_contact_us_description {
    text-align: center;
    justify-content: center;
  }

  .workCompleted {
    flex-direction: column;
    row-gap: 1em;
  }

  .workCompleted__1,
  .workCompleted__2,
  .workCompleted__3 {
    border-right: none;
  }

  .ContactForm {
    flex-direction: column;
  }

  .contactForm_description,
  .contactForm_form {
    width: 100%;
  }

  .contactForm_form p:first-child,
  .contactForm_description p:first-child {
    font-size: 1.7em;
  }

  .contactForm_form p:first-child {
    text-align: center;
  }

  .contactForm_form {
    padding: 0;
  }

  .button button {
    font-size: 1em;
  }

  .FooterLinks {
    flex-direction: column;
  }

  .FooterLinks__cell {
    width: 100%;
    margin-bottom: 2em;
  }

  .FooterLinks__cell:last-child {
    width: 100%;
  }

  .FooterLinks__cell:first-child {
    display: none;
  }
  .solutionsGridContainer {
    flex-direction: column;
  }
  .gridItem{
    margin-bottom: 1em;
  }
}

@media (min-width:480px) and (max-width: 1000px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .panelBody_description {
    padding: 0em 10vw;
  }
  .FooterLinks__cell:nth-child(2) {
    width: 100%;
  }
  .FooterLinks__cell:last-child {
    width: 100%;
    margin-left: 2em;
  }
  .FooterLinks__cell:first-child {
    width: 100%;
    margin-right: 0.5em;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}