.container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2em;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.panel{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--avenue-white);
  width: 100%;
  position: relative;
  height: 100%;
  flex-direction: column;
  color: var(--avenue-blue);
  row-gap: 1em;
  margin-top: 2em;
}
.panelTitle{
  font-size: 2.5em;
  font-weight: 600;
}
.panelBody{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.panelBody_description{
  color: #484c50;
  display: flex;
  padding: 0em 22vw;
}
.panelBody_description p{
  text-align: center;
  line-height: 2em;
  font-size: 1.3em;
}
.panelBody_actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3em;
  column-gap: 1em;
  font-weight: 600;
}
.panelButton{
  font-size: 1.5em;
  padding: 0.6em 2em;
  border-radius: 1.2em;
  color: var(--avenue-white);
  background-color: var(--avenue-blue);
}
.panelButton:hover{
  color: var(--avenue-white);
  background-color: var(--avenue-light-blue);
}
.faIcons{
  height: 100%;
  color: var(--avenue-white);
}
.whyUsPanel{
  height: 100%;
  background-color: var(--avenue-light-gray-white);
  padding-top: 2em;
}
.whyUsPanelBody_actions{
  padding: 1em;
  font-size: 100%;
}
.strip{
  display: flex;
  flex-direction: row;
  position: relative;
  column-gap: 1em;
  align-items: center;
  padding: 0.1em 1em;
  background-color: var(--avenue-white);
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 0;
}
.strip span{
  display: flex;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  padding: 0.4em;
  justify-content: center;
  z-index: 2;
  background-color: var(--avenue-light-blue);
}
.strip:hover{
  color: var(--avenue-white);
  background-color: var(--avenue-blue);
}
.strip:hover span{
  background-color: var(--avenue-white);
}
.strip:hover .faIcons{
  color: var(--avenue-blue);
}
.strip:hover p{
  margin-left: 1.5em;
  transition: margin 0.1s linear 0.5s;
}
.panelBody_actions_animator{
  position: absolute;
  z-index: 1;
}
.strip:hover .panelBody_actions_animator{

  position: absolute;
  transform: scale(3);
  transition: transform 0.5s ease;
}


.panelBody_actions_meet_our_clients_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 100%;
  column-gap: 4em;
  justify-content: center;
  margin-top: 4em;
}

.panelBody_actions_meet_our_clients_contact_us_image{
  width: 30%;
  height: 60%;
  color: var(--avenue-blue);
  transition: transform 0.2s ease-in;
}
.panelBody_actions_meet_our_clients_contact_us_image svg{
  height: 100%;
  width: 100%;
}
.panelBody_actions_meet_our_clients_container:hover .panelBody_actions_meet_our_clients_contact_us_image {
  color: var(--avenue-light-blue);
}
.panelBody_actions_meet_our_clients_contact_us_note{
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--avenue-light-text-color);
  line-height: 2em;
}
.panelBody_actions_meet_our_clients_contact_us_title{
  font-size: 1.8em;
  color: var(--avenue-blue);
  padding-bottom: 0.6em;
  border-bottom: 2px solid var(--avenue-light-blue);
}
.panelBody_actions_meet_our_clients_contact_us_description{
  padding-top: 1.2em;
}
.panelBody_actions_meet_our_clients_contact_us_button{
  margin-top: 1.2em;
  width: 100%;
  display: flex;
  justify-content: left;
}
.panelBody_actions_meet_our_clients_contact_us_button div{
  display: flex;
  background-color: var(--avenue-blue);
  color: var(--avenue-white);
  font-size: 1em;
  justify-content: center;
  border-radius: 1.2em;
  padding: 0.3em 1em;
  cursor: pointer;
}
.panelBody_actions_meet_our_clients_contact_us_button div:hover{
  background-color: var(--avenue-light-blue);
}
.workCompleted{
  width: 100%;
  background-color: var(--avenue-white);
  color: var(--avenue-light-blue);
  display: flex;
  flex-direction: row;
  padding: 5em;
}
.workCompleted__1,
.workCompleted__2,
.workCompleted__3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 10em;
  min-height: 3em;
  width: 100%;
  border-right: 1px solid var(--avenue-light-border);
}
.workCompleted__:last-child{
  border-right: none;
}
.ContactForm{
  width: 100%;
}

@media screen and (max-width: 480px) {
  .container{
    position: relative;
  }
  .panel{
    padding: 1em 0em;
  }
  .panelBody_description{
    padding: 0em 5vw;
  }
  .panelBody_description p{
    line-height: 1.8em;
    font-size: 1.15em;
  }
  .panelButton{
  font-size: 1.2em;
  }
  .whyUsPanel{
    height: 100%;
  }
  .whyUsPanelBody_actions{
    flex-direction: column;
    row-gap: 1em;
    height: 100%;
  }
  .strip{
    flex-direction: column;
    width: 90%;
  }
  .strip:hover .panelBody_actions_animator{
    position: absolute;
    transform: scale(1);
    transition: none;
  }
  .strip:hover p{
    margin-left: 0em;
  }
  .panelBody_actions_meet_our_clients_container
  {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 3em;
  }
  .panelBody_actions_meet_our_clients_contact_us_image{
    height: 40%;
  }
  .panelBody_actions_meet_our_clients_contact_us_note{
    padding: 0em 2em;
    justify-content: center;
    width: 80%;
  }
  .panelBody_actions_meet_our_clients_contact_us_button{
    justify-content: center;
  }
  .panelBody_actions_meet_our_clients_contact_us_button div{
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .panelBody_actions_meet_our_clients_contact_us_title{
    text-align: center;
  }
  .panelBody_actions_meet_our_clients_contact_us_description{
    text-align: center;
    justify-content: center;
  }
  .workCompleted{
    flex-direction: column;
    row-gap: 1em;
  }
}
@media (min-width:480px) and (max-width: 1000px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .panelBody_description{
    padding: 0em 10vw;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
