.container {
    position: sticky;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    top: 0;
    bottom: 0;
}
@media screen and (max-width: 480px) {
    .hamMenu {
        top: 0;
        right: 0;
        position: absolute;
        width: 0;
        height: 0;
        background: var(--avenue-blue);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        transition: 0.3s ease;
        box-shadow: 2px 3px 4px var(--avenue-white);
        opacity: 0;
    }

    .hamMenuChange {
        display: flex;
        width: 520px;
        height: 760px;
        transform: translate(60%, -30%);
        opacity: 1;
        transition: transform 0.3s ease opacity 0.3s ease;
    }
}