.container {
    height: 4em;
    background-color: var(--avenue-blue);
    color: var(--avenue-white);
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 0;
    position: static;
    overflow: hidden;
    width: 100vw;
}

.logo {
    display: inline-block;
    min-width: 10vw;
    width: auto;
    flex-direction: column;
    margin: 2em 0em 2em 2em;
}
.list {
    list-style: none;
    right: 0.6em;
}

.hamList {
    list-style: none;
    left: 55vw;
    right: auto;
    position: absolute;
    top: 4em;
    color: var(--avenue-white);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    display: none;
    z-index: 1;
}
.hamListHidden{
    opacity: 1;
    transition: opacity 0.1s ease-in 0.3s;
    z-index: 102;
}

.hamListItem{
    margin-bottom: 1em;
    font-size: 1.2em;
    width: 100vw;
    border-bottom: 1px solid var(--avenue-white);
}

.listItem {
    display: inline-flex;
    margin-right: 30px;
    cursor: pointer;
    padding: 1em 0em;
}

.listItem a:hover {
    text-shadow: 1px 1px 2px var(--avenue-white);
}

.hamburgerContainer {
    display: none;
}

.hamMenu {
    display: none;
}

.menu {
    display: flex;
    position: relative;
    right: 2em;
    z-index: 21;
    font-weight: 300;
    color: var(--avenue-white);
    list-style: none;
    transition: all 1s ease;
}
.activeMenuItem{
    color: var(--avenue-white);
    border-bottom: 2px solid var(--avenue-white);
}

.subMenu{
    display: none;
    position: fixed;
    list-style: none;
    justify-content:flex-start;
    text-align: left;
    align-items: center;
    padding: 0px;
    width: 15em;
    background-color: transparent;
    flex-direction: column;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;overflow: hidden;
    transition: 0.3s ease;
}
.subMenu:hover{
    display: flex;
}
.subMenu li:first-child{
    margin-top: 1.5em;
    border-top: 2px solid var(--avenue-white);
}
.subMenu li{
    padding: 0.7em;
    background-color: var(--avenue-blue);
    width: 100%;
    font-size: 0.9em;
    border-bottom: 1px solid var(--avenue-white);
}
.subMenu li a:hover{
    text-shadow: 1px 1px 2px var(--avenue-white);
    letter-spacing: 0.006em;
    display: flex;
}
.subMenu li:last-child{
    border-bottom: none
}
.subMenuTitle{
    z-index: 2;
}
.subMenuTitle a:hover + .subMenu{
    display: flex;
    transition: 2s ease;
}
.subMenuTitle a{
    display: inline-flex;
    align-items: center;
}
.subMenuTitle a::after{
    display: inline-flex;
    align-items: center;
}
.arrow{
    display: flex;
    flex-direction: row;
    transform: scale(0.5);
}
.arrowLine1{
    width: 1em;
    height: 0.2em;
    display: flex;
    background-color: var(--avenue-white);
    margin-top: 0.3em;
    border-radius: 0.2em;
    pointer-events: none;
    transition: 0.3s ease;
    transform: rotateZ(45deg);
}
.arrowLine2{
    width: 1em;
    height: 0.2em;
    display: flex;
    background-color: var(--avenue-white);
    margin-top: 0.3em;
    margin-left: -0.3em;
    border-radius: 0.2em;
    pointer-events: none;
    transition: 0.3s ease;
    transform: rotateZ(-45deg);
}
.subMenuTitle:hover .arrow{
    transform: rotateZ(-180deg) scale(0.5) translateY(-0.3em);
}
.hasSubMenu{
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .container {
        height: 5em;
        font-size: 0.8em;
        transition: 0.3s ease;
        background-color: var(--avenue-white); 
        /* White background - white Image*/
        /* background-color: var(--avenue-blue);  */
        /* Blue background - blue Image*/
    }

    .logo {
        margin: 0;
        margin-left: 2em;
        min-width: 30vw;
        height: auto;
    }
    .logo span span{
        padding-top: 40% !important;
    }

    .list {
        display: none;
    }

    .hamburgerContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 2em;
        align-items: center;
        justify-content: center;
        cursor: grab;
        pointer-events: all;
        transition: 0.3s ease;
    }

    .change {
        transform: rotateZ(-90deg) scale(0.8);
        margin-top: -0.5em;
    }

    .hamburgerLine.change1 {
        transform: rotateZ(-45deg);
        width: 1.7em;
        height: 0.2em;
        box-shadow: 1px 1px 2px var(--avenue-white);
    }

    .change2 {
        opacity: 0;
    }

    .hamburgerLine.change3 {
        transform: rotateZ(45deg);
        width: 1.7em;
        height: 0.2em;
        box-shadow: 1px 1px 2px var(--avenue-white);
    }

    .hamburgerLine {
        width: 2em;
        height: 0.3em;
        display: flex;
        background-color: var(--avenue-blue);
        margin-bottom: 0.3em;
        border-radius: 0.2em;
        pointer-events: none;
        transition: 0.3s ease;
    }

    .change {
        display: block;
    }

    .closeHam {
        line-height: 100%;
        align-items: center;
        justify-content: center;
        margin-top: -0.18em;
        margin-left: -1em;
        transform: scale(1.2);
        transition: 0.3s ease;
        color: var(--avenue-white);
        pointer-events: none;
    }

    .opacityFull {
        opacity: 0;
    }

    .hamMenu {
        display: block;
        top: 0;
        right: 0;
        position: absolute;
        width: 0;
        height: 0;
        background: var(--avenue-blue);
        border-bottom-left-radius: 50%;
        transition: 0.3s ease;
        box-shadow: 2px 3px 4px;
    }

    .hamMenuChange {
        width: 520px;
        height: 560px;
        transform: translate(60%, -30%);
        outline: 2px solid var(--avenue-white);
    }

    .change .hamburgerLine{
        background-color: var(--avenue-white);
    }
    .hamList{
        display: block;
    }

}

@media (min-width:480px) and (max-width: 1000px) {
    .container {
        height: 5em;
        font-size: 1em;
        background-color: var(--avenue-white); 
        color: var(--avenue-blue);
    }

    .logo {
        min-width: 20vw;
        width: auto;
        margin-left: 1em;
    }

    .tabletView {
        transition: 0.3s ease;
        display: none;
    }

    .hamburgerContainer {
        transition: 0.3s ease;
        display: none;
    }
    .menu,
    .activeMenuItem{
        color: var(--avenue-blue);
    }
    .arrowLine1,.arrowLine2{
        background-color: var(--avenue-blue);
    }
}