.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  color: var(--avenue-blue);
}

.banner {
  height: auto;
  width: 100vw;
  overflow: hidden;
  z-index: 10;
  display: flex;
  background-color: var(--avenue-dark-black);
}

.bannerContents {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 10% 5% 2% 5%;
  justify-content: center;
  color: var(--avenue-white);
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.bannerContents label {
  font-size: 2.5em;
}
.bannerContents span[class=underline] {
  background-color: var(--avenue-blue);
  width: 15rem;
  height: 0.5rem;
  border-radius: 1rem;
}

.bannerContents p {
  font-size: 1.2em;
  padding-left: 0.4em;
}
.underline_first_word_of_title{
  border-bottom: 0.3rem solid var(--avenue-light-blue);
}
.contact_us_button {
  width: 100%;
  display: flex;
  justify-content: left;
}

.contact_us_button span {
  display: flex;
  background-color: var(--avenue-blue);
  color: var(--avenue-white);
  font-size: 1em;
  justify-content: center;
  border-radius: 1.2em;
  padding: 0.3em 1em;
  cursor: pointer;
}

.contact_us_button span:hover {
  background-color: var(--avenue-light-blue);
}
.row {
  display: flex;
  align-items: center;
  column-gap: 10rem;
}
.row h2{
  margin: 0;
}
.row p{
  color: var(--avenue-text-color--3);
}
.row_padding_rem_4{
  padding: 4rem 8rem;
}
.row_padding_rem_1{
  padding: 1rem;
}
.row_text_center{
  text-align: center;
}
.row_blue_bg{
  background-color: var(--avenue-light-blue);
}
.row_white_bg{
  background-color: var(--avenue-white);
}
.row_cell_one_out_of_two{
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
  line-height: 1.8rem;
}
.row_cell_one_out_of_four{
  width: 25%;
  display: flex;
}
.flex_row{
  display: flex;
  flex-direction: row;
}
.flex_column{
  display: flex;
  flex-direction: column;
}
.justify_center{
  justify-content: center;
  align-items: center;
}
.row_cell_one_out_of_two__height_15_rem{
  height: auto;
}
.grid__2 {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: row;
}

.vision {
  justify-content: center;
  flex-direction: column;
}
.sustainabilityVision__Title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}
.sustainabilityVision__Description {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1em 4em;
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--avenue-text-color--3);
}
.EcoGauge__video{
  width: 100%;
  height: 100%;
}
.productContainer{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 8%;
  margin: 2%;
}
.productImage{
  width: 100%;
  height: 100%;
  background-color: var(--avenue-white);
}
.productDescription{
  height: auto;
}
.productDescription h5{
  color: var(--avenue-text-color--3);
  text-align: center;
}
.SustainabilityProductsSection{
  background-color: var(--avenue-light-gray-white)
}
.TechnologySection1 {
  display: flex;
  flex-direction: row;
  padding: 5rem;
  column-gap: 3em;
}
.TechnologySection1 div:first-child {
  width: 40%;
  margin-right: 7.13rem;
}
.TechnologySection1 div:last-child {
  width: 60%;
}
.TechnologySection1 div:last-child p {
  color: var(--avenue-text-color--3);
  font-family: inherit;
  line-height: 2em;
  font-size: 1.2em;
}
.TechnologySection1 div span span {
  font-size: larger;
  font-weight: 700;
}

.TechnologySection2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 2em;
    justify-content: center;
    align-items: center;
    background-color: var(--avenue-blue);
    color: var(--avenue-white);
}
.TechnologySection2__item{
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.TechnologySection2_ImgContainer{
    display: flex;
    justify-content: center;
}
.TechnologySection2_ImgCircles{
    display: flex;
    border-radius: 50%;
    background-color: var(--avenue-white);
    padding: 1em;
}
.TechnologySection2__item p{
    width: 100%;
    text-align: center;
    margin: 0;
}
.TechnologySection2__item h2{
    text-align: center;
}
.GallarySlider{
  padding: 10%;
}
@media screen and (max-width: 480px) {
  .bannerContents {
    height: 25em;
    padding: 0em;
    align-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 1em;
  }
  .bannerContents label {
    font-size: 1.9em;
  }
  .bannerContents span[class=underline]{
    display: none;
  }
  .sustainabilityVision__Title {
    padding: 0 2em;
    text-align: center;
  }
  .sustainabilityVision__Description {
    padding: 1em 2em;
  }
  .contact_us_button {
    justify-content: center;
  }
  .TechnologySection1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    align-items: center;
    padding: 0;
  }
  .TechnologySection1 div:first-child {
    width: 100%;
  }
  .TechnologySection1 div:last-child {
    width: 100%;
  }
  .TechnologySection1 div p {
    padding: 1rem;
  }
  .TechnologySection1Mobile {
    display: none;
  }
  .TechnologySection2{
    flex-direction: column;
  }
  .TechnologySection2__item{
    width: 100%;
  }
  .row{
    flex-direction: column;
    height: auto;
    row-gap: 2rem;
    padding: 2rem 0;
  }
  .row_cell_one_out_of_two{
    width: 80%;
  }
}
