.hamChange-z-index{
  z-index: 100;
}
.hamburger-container{
    z-index: 101;
}
.body-container{
    z-index: 10;
}
.body-sub-container{
    z-index: 10;
}
.hamList{
    z-index: 1;
}
@media screen and (max-width: 480px) {
    .hamList.hamList-z-index--visible{
        z-index: 102;
        opacity: 1;
    }
    .hamList{
        z-index: -1;
    }
}